<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/navbar.ejs") %>
    <h1 class="albumtitle">Albums</h1>
    <div class="container-fluid AlbumContainer">
        <div class="row no-gutters">
            <% if (album.length > 0) { %>
            <% album.forEach(album => { %>
            <div class="col-md-3 Allalbum">
                <div class="blocks AlbumCon">
                    <div class="block AlbumCon2">
                        <img src="<%= album.image %>" alt="Image" />
                        <h2 class="AlbumTitle"><%=album.title %></h2>
                        <p class="AlbumDescription"><%= album.description %></p>
                    </div>
                </div>
            </div>
            <% }) %>
            <% } else { %>
            <p>There are no Albums to display...</p>
            <% } %>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</body>

</html>