<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav-side-two.ejs") %>

    <!--take up single values from artist, album, playlist-->



    <div class="singleAlbumcon">

        <div class="container-fluid headerimg g-0">
            <img src="<%= album.bg %> " class="headpic" width="100%" style="background-size:contain;">
        </div>

        <div class="albumheadercon">
            <img style="margin-right: 2rem; height: 500px; width:500px;" src=" <%= album.image %>" alt="Image" />
            <div class="namedescription">
                <h1 class="singlealbumname" style="margin:0;"><%= album.name %></h1>
                <p class="songalbum" style="margin: 0;"><%= album.snippet %></p>


                <div class="singleAlbumcon2">
                    <% if (album.song.length > 0) { %>
                    <% for (var i = 0; i < album.song.length; i++) {%>
                    <div class="card bg-transparent songcon3" style="border:none;">

                        <div class="songcontainer2">

                            <a class="single" href=""></a>
                            <img class="image" height="50px" width="50px" style="margin-left:0;"
                                src="<%= album.song[i].image %>"></img>
                            </a>
                            <div class="songTitle2">
                                <a class="single" href="">
                                    <p class="songs2" style="margin: 0;"><%= album.song[i].title %></p>
                                </a>
                                <p class="songartist2" style="margin: 0;"><%= album.song[i].artist %></p>
                                <div class="songslength2">
                                    <p class="songtime2"><%= album.song[i].duration %></p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <%  }%>
                    <% } else { %>
                    <p>test failed</p>
                    <% }  %>
                </div>

            </div>

        </div>




    </div>
</body>

</html>