<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav-side.ejs") %>

    <!--take up single values from artist, album, playlist-->

    <div class="singleArtistcon">
        <h1 class="artistname2"><%= artist.name %></h1>



        <div class="singleArtistcon2">
            <% if (artist.song.length > 0) { %>
            <% for (var i = 0; i < artist.song.length; i++) {%>
            <div class="card bg-transparent arsongcon" style="border: none;">
                <div class="songcontainer">
                    <a class="single" href=""></a>
                    <img class="image" height="50px" width="50px" src="<%= artist.song[i].image %>"></img>
                    </a>
                    <div class="songTitle">
                        <a class="single" href="">
                            <p class="songs" style="margin: 0;"><%= artist.song[i].title %></p>
                        </a>
                        <p class="songartist" style="margin: 0;"><%= artist.song[i].album %></p>
                        <div class="songslength">
                            <p class="songtime"><%= artist.song[i].duration %></p>
                        </div>
                    </div>
                </div>
            </div>
            <%  }%>
            <% } else { %>
            <p>test failed</p>
            <% }  %>
        </div>

        <div class="artistdescription">
            <p class="ardescription"><%= artist.description %></p>
        </div>

        <img src="<%= artist.bg %>" class="artistbg" alt="">
    </div>
</body>

</html>