<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav-search.ejs") %>
  <h1 class="playtitle">Playlists</h1>
  <% if (playlist.length > 0) { %>
  <% playlist.forEach(playlist => { %>

  <div class="card bg-dark playcon">
    <div class="playlistcontainer">
      <a class="single" href="/playlist/<%= playlist._id %>">
        <img class="image" height="100px" width="100px" src="<%= playlist.image %>"></img>
      </a>
      <div class="titleDescription">
        <a class="single" href="/playlist/<%= playlist._id %>">
          <h3 class="title"><%= playlist.title %></h3>
        </a>
        <p class="description"><%= playlist.description %></p>
      </div>
    </div>
  </div>
  <% }) %>
  <% } else { %>
  <p>There are no playlists to display...</p>
  <% } %>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
  </script>
</body>

</html>