<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav-search.ejs") %>
    <div class="container Profilecon">
        <div class="Profilecon2">
            <div class="row">
                <div class="col-md-2 ProfPic">
                    <img src="<%= user.image %>" class="profpic" alt="">
                </div>
                <div class="col-md-7 BionFollowers">
                    <h1 class="Nameuser"><%= user.name %></h1>
                    <p class="userbio"><%= user.bio %></p>
                </div>
            </div>
        </div>
        <div class="container Userplaylist">

            <div class="blocks userPlaylist">
                <div class="block userlist">
                    <img src="https://images-ext-1.discordapp.net/external/9GQvcvGvpTEOLlmYvkv05tEjjDgI0HCbv8zkcwmOR-M/http/static.djbooth.net/pics-features/chance-the-rapper-best-artwork.jpg"
                        alt="Image" />
                </div>
            </div>


        </div>
    </div>
</body>


</html>